.PokeContainer{
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @apply flex flex-col
}
.PokeContent{
    @apply flex flex-row flex-wrap justify-center h-screen w-screen overflow-y-auto;
}